.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  max-width: 100%;
  width: 200px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
}

.header__link--button{
  background: none;
  border: none;
  padding: none ;
  font: inherit;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.header__link i {
  margin-right: 0.5rem;
}

.header__link:hover {
  text-decoration: underline;
}